@media(max-width:1050px){

    .skill-item-txt{
        text-align: center;
        margin-top: 3rem;
    }
    
    .card{
        max-width: 17rem;
    }
}

@media(max-width:900px){
    .cards{
        margin-top: 8rem;
        grid-template-columns: repeat(2,1fr);
    }

    .skill-item-txt{
        text-align: center;
    }


    .card:nth-child(3){
        margin-top: 1rem;
        margin: auto;
    }

}

@media(max-width:600px){

    .nav-logo{
        display: none;
    }

    .nav-socials{
        flex-direction: row;
        margin-top: 4em;
    }

    .nav-socials a{
        padding: 0 0.4em;
    }


    .nav-footer{
        display: none;
    }

    .skill-item-txt{
        font-size: 1.5rem;
        margin-top: 1rem;
        padding: 2rem;
        text-align: center;
    }

    .cards{
        margin-top: 2rem;
    }
    
}

@media(max-width:425px){

    .skill-item-txt{
        text-align: center;
    }

    .card{
        max-width: 15rem;
    }

    .cards{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 3rem;
        grid-template-columns: repeat(1,1fr);
    }

    #skills{
        height: fit-content;
    }

    nav{
        padding: 1rem;
    }

    .active #logo-txt{
        display: none;
    }

    .hero-txt{
        font-size: 1.5rem;
    }

    
}

